http_mongodb_PLC_control/flows (2).json
[{"id":"b9c78b64.4e91c8","type":"tab","label":"CSS과제","disabled":true,"info":""},{"id":"cc8c81f1.1064e","type":"mqtt out","z":"b9c78b64.4e91c8","name":"","topic":"/sungbeen/in","qos":"","retain":"","broker":"8374acb7.80b71","x":1290,"y":960,"wires":[]},{"id":"7c6e82f5.c4cbec","type":"mqtt in","z":"b9c78b64.4e91c8","name":"","topic":"/sungbeen/out","qos":"0","datatype":"auto","broker":"48aebce4.f25dd4","x":168,"y":1061,"wires":[["b0440c0.354f0f8"]]},{"id":"99ad7453.04b0f8","type":"http in","z":"b9c78b64.4e91c8","name":"","url":"/plc_act","method":"get","upload":false,"swaggerDoc":"","x":98,"y":911,"wires":[["9f4b80f5.70bda"]]},{"id":"9f4b80f5.70bda","type":"function","z":"b9c78b64.4e91c8","name":"findOneAndUpdate","func":"global.set(\"msg_plc_act\",msg);\nif(msg.payload.name=='in')\n    return [null,msg];\nelse {\n    if(msg.payload.out==1)\n        msg.payload.out=0;\n    else\n        msg.payload.out=1;\n    var newMsg = {};\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    if(msg.payload.name=='P40')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.0':msg.payload.out}} ];\n    else if(msg.payload.name=='P41')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.1':msg.payload.out}} ];\n    else if(msg.payload.name=='P42')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.2':msg.payload.out}} ];\n    else if(msg.payload.name=='P43')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.3':msg.payload.out}} ];\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return [newMsg,null];\n}","outputs":2,"noerr":0,"x":279,"y":909,"wires":[["42e45088.c26aa"],["22fd6803.e2f698"]]},{"id":"42e45088.c26aa","type":"mongodb2 in","z":"b9c78b64.4e91c8","service":"_ext_","configNode":"45cbdc79.fdc694","name":"db","collection":"","operation":"","x":570,"y":900,"wires":[["a4f8cd3a.50a35","5526a8ed.d5a248"]]},{"id":"3155b9da.c2b906","type":"template","z":"b9c78b64.4e91c8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://18.189.6.107:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html>","output":"str","x":970,"y":900,"wires":[["957a6f6.c39539"]]},{"id":"957a6f6.c39539","type":"http response","z":"b9c78b64.4e91c8","name":"Go Main Page","statusCode":"","headers":{},"x":1120,"y":900,"wires":[]},{"id":"a4f8cd3a.50a35","type":"function","z":"b9c78b64.4e91c8","name":"msg 받음","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":900,"wires":[["3155b9da.c2b906"]]},{"id":"874b1056.410fb","type":"function","z":"b9c78b64.4e91c8","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":960,"wires":[["cc8c81f1.1064e"]]},{"id":"5526a8ed.d5a248","type":"function","z":"b9c78b64.4e91c8","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : msg.payload.value.email, 'chip':msg.payload.value.chip};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":800,"y":960,"wires":[["76592b48.f39c74"]]},{"id":"76592b48.f39c74","type":"mongodb2 in","z":"b9c78b64.4e91c8","service":"_ext_","configNode":"45cbdc79.fdc694","name":"db","collection":"","operation":"","x":950,"y":960,"wires":[["874b1056.410fb"]]},{"id":"22fd6803.e2f698","type":"function","z":"b9c78b64.4e91c8","name":"read PLC","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1000,"wires":[["fe5bf4d6.3c4b48"]]},{"id":"b0440c0.354f0f8","type":"string","z":"b9c78b64.4e91c8","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":364,"y":1067,"wires":[["7317b746.e489b8"]]},{"id":"950db77a.5408b8","type":"function","z":"b9c78b64.4e91c8","name":"2진수로정리","func":"var hex=msg.payload.prt.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload.prt=bin;\nreturn msg;","outputs":1,"noerr":0,"x":902,"y":1070,"wires":[["366d5551.936e0a"]]},{"id":"366d5551.936e0a","type":"mongodb2 in","z":"b9c78b64.4e91c8","service":"_ext_","configNode":"45cbdc79.fdc694","name":"db","collection":"","operation":"","x":1087.1146240234375,"y":1079.892333984375,"wires":[[]]},{"id":"e6515a8a.7d80d8","type":"json","z":"b9c78b64.4e91c8","name":"","property":"payload","action":"","pretty":false,"x":759,"y":1070,"wires":[["950db77a.5408b8"]]},{"id":"7317b746.e489b8","type":"function","z":"b9c78b64.4e91c8","name":"아스키31 이하 공란으로","func":"var msg = {payload:msg.payload.replace(/[^\\x0F-\\x7F]/g, \" \")};\nreturn msg;","outputs":1,"noerr":0,"x":572,"y":1069,"wires":[["e6515a8a.7d80d8"]]},{"id":"fe5bf4d6.3c4b48","type":"template","z":"b9c78b64.4e91c8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='3; url=http://18.189.6.107:1880/main' method='get'> \n    </head>\n    <body>\n        PLC 응답이 올때까지 3초 기다리겠습니다. 응답이 없을 수도 있습니다.\n    </body>\n</html>","output":"str","x":970,"y":1000,"wires":[["f49dbaf3.aee238"]]},{"id":"f49dbaf3.aee238","type":"http response","z":"b9c78b64.4e91c8","name":"Go Main Page","statusCode":"","headers":{},"x":1120,"y":1000,"wires":[]},{"id":"44b1ce9d.aa59f","type":"http in","z":"b9c78b64.4e91c8","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":96,"y":852,"wires":[["e381fa5c.6b4c68"]]},{"id":"6d88b5bb.dbaaec","type":"mongodb2 in","z":"b9c78b64.4e91c8","service":"_ext_","configNode":"45cbdc79.fdc694","name":"db","collection":"","operation":"","x":391,"y":852,"wires":[["1516499d.da22b6"]]},{"id":"b6e90d3f.e9dc2","type":"template","z":"b9c78b64.4e91c8","name":"Main html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>41415044 조성빈 PLC제어</h2>\n\n{{{payload.list}}}\n{{{payload.plc}}}\n\n</body>\n</html>","output":"str","x":1135,"y":836,"wires":[["660d8fb1.fbcd"]]},{"id":"1516499d.da22b6","type":"function","z":"b9c78b64.4e91c8","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":820,"wires":[["ec2506d3.663e78"]]},{"id":"abab7410.fd1718","type":"function","z":"b9c78b64.4e91c8","name":"plc List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nvar i;\nvar s;\nvar r;\nvar sOut=\"\";\nfor(i=0;i<msg.payload.length;i++) {\n    r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    if(msg.payload[i].type==4) {\n        //s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].name + \"<br>&emsp;출력&nbsp;\";\n        s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].type + \"<br>&emsp;출력&nbsp;\";\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[0]==1) {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button' name='out' value='1' method='get'>40 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>40 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[1]==1) {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button2' name='out' value='1' method='get'>41 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>41 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[2]==1) {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button3' name='out' value='1' method='get'>42 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>42 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[3]==1) {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button4' name='out' value='1' method='get'>43 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>43 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;<br>\"\n        //s+=\"</form>\";\n\n\n \n    }\n    sOut=sOut+s+\"<br>\";\n}    \nmsg.payload.plc=sOut;\nreturn msg;","outputs":1,"noerr":0,"x":989,"y":839,"wires":[["b6e90d3f.e9dc2"]]},{"id":"660d8fb1.fbcd","type":"http response","z":"b9c78b64.4e91c8","name":"","statusCode":"","headers":{},"x":1289,"y":836,"wires":[]},{"id":"e381fa5c.6b4c68","type":"function","z":"b9c78b64.4e91c8","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nvar email = msg.req.cookies.name;\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = { 'email' : email };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":251,"y":852,"wires":[["6d88b5bb.dbaaec"]]},{"id":"ec2506d3.663e78","type":"template","z":"b9c78b64.4e91c8","name":"style","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /* Green */\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.buttonOff {background-color:black; color:white;  padding: 15px 32px;} \n\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":666,"y":846,"wires":[["674854d2.72170c"]]},{"id":"674854d2.72170c","type":"function","z":"b9c78b64.4e91c8","name":"global style","func":"global.set(\"style\",msg.payload.style);\nreturn msg;","outputs":1,"noerr":0,"x":814,"y":840,"wires":[["abab7410.fd1718"]]},{"id":"8374acb7.80b71","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"48aebce4.f25dd4","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"45cbdc79.fdc694","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""}]