485_PLC_control/flows (2).json
[{"id":"aa8bf5f6.6b51c8","type":"mqtt in","z":"cdd2a7b9.486328","name":"","topic":"/sungbeen/out","qos":"0","datatype":"auto","broker":"33b51a2e.cdbe86","x":270,"y":300,"wires":[["4c7bd9b4.39db68","ea8cd821.956e88"]]},{"id":"bf6431aa.e847c","type":"ui_switch","z":"cdd2a7b9.486328","name":"","label":"P40","tooltip":"","group":"1ad827e9.1fe528","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":253.93071746826172,"y":500.6597547531128,"wires":[["89a61826.f89988"]]},{"id":"517e5289.d1b9bc","type":"ui_switch","z":"cdd2a7b9.486328","name":"","label":"P41","tooltip":"","group":"1ad827e9.1fe528","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":253.9307098388672,"y":553.6597757339478,"wires":[["f83eb523.8ed5d8"]]},{"id":"7abc5929.d1ddc8","type":"ui_switch","z":"cdd2a7b9.486328","name":"","label":"P42","tooltip":"","group":"1ad827e9.1fe528","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":251.9307098388672,"y":613.6597757339478,"wires":[["fedb2b1e.88a2a8"]]},{"id":"e05b1397.51c08","type":"ui_switch","z":"cdd2a7b9.486328","name":"","label":"P44","tooltip":"","group":"1ad827e9.1fe528","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":250.9307098388672,"y":664.6597757339478,"wires":[["53b190ab.546a2"]]},{"id":"89a61826.f89988","type":"function","z":"cdd2a7b9.486328","name":"전역변수","func":"global.set(\"out40\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":406.9111022949219,"y":501.65586280822754,"wires":[["220295f.936866a"]]},{"id":"f83eb523.8ed5d8","type":"function","z":"cdd2a7b9.486328","name":"전역변수","func":"global.set(\"out41\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":405.9111022949219,"y":554.6558628082275,"wires":[["220295f.936866a"]]},{"id":"fedb2b1e.88a2a8","type":"function","z":"cdd2a7b9.486328","name":"전역변수","func":"global.set(\"out42\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":407.9111022949219,"y":613.6558628082275,"wires":[["220295f.936866a"]]},{"id":"53b190ab.546a2","type":"function","z":"cdd2a7b9.486328","name":"전역변수","func":"global.set(\"out43\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":405.9111022949219,"y":664.6558628082275,"wires":[["220295f.936866a"]]},{"id":"220295f.936866a","type":"function","z":"cdd2a7b9.486328","name":"encoder","func":"var p40=global.get(\"out40\")||0;\nvar p41=global.get(\"out41\")||0;\nvar p42=global.get(\"out42\")||0;\nvar p43=global.get(\"out43\")||0;\nvar num=p40+p41*2+p42*4+p43*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":575.9307022094727,"y":501.6597681045532,"wires":[["c2b26a81.e98a58"]]},{"id":"1d1e929a.00e8ad","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":6,"width":"","height":"","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":882.9305648803711,"y":192.65981101989746,"wires":[]},{"id":"1c857608.5aff3a","type":"function","z":"cdd2a7b9.486328","name":"2진수로정리","func":"var hex=msg.payload.substring(12,14);//앞두개\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":557.868049621582,"y":297.7673397064209,"wires":[["222e1e48.49c602"]]},{"id":"222e1e48.49c602","type":"function","z":"cdd2a7b9.486328","name":"decoder","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];\n","outputs":6,"noerr":0,"x":716.9236068725586,"y":297.62154483795166,"wires":[["1d1e929a.00e8ad"],["d45c8bd6.1b9d08"],["b55b5e86.9e04d"],["bcc2fdbb.cd6d8"],["d56ee7ba.1911d8"],["570ad27d.f6ee5c"]]},{"id":"d45c8bd6.1b9d08","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":7,"width":"","height":"","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":884.8680992126465,"y":234.76734733581543,"wires":[]},{"id":"b55b5e86.9e04d","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":8,"width":"","height":"","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":884.8680992126465,"y":274.76734733581543,"wires":[]},{"id":"bcc2fdbb.cd6d8","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":9,"width":"","height":"","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":884.8680992126465,"y":313.76737785339355,"wires":[]},{"id":"d56ee7ba.1911d8","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":10,"width":"","height":"","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":887.8680992126465,"y":352.76737785339355,"wires":[]},{"id":"570ad27d.f6ee5c","type":"ui_led","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":11,"width":"","height":"","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":886.8680992126465,"y":397.76737785339355,"wires":[]},{"id":"c2b26a81.e98a58","type":"mqtt out","z":"cdd2a7b9.486328","name":"","topic":"/sungbeen/in","qos":"","retain":"","broker":"913d1771.0f3ee8","x":744.0590591430664,"y":501.1250104904175,"wires":[]},{"id":"4c7bd9b4.39db68","type":"ui_text","z":"cdd2a7b9.486328","group":"1ad827e9.1fe528","order":10,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":416.06258392333984,"y":261.4722146987915,"wires":[]},{"id":"6e63ebc1.e5db14","type":"ui_button","z":"cdd2a7b9.486328","name":"","group":"1ad827e9.1fe528","order":11,"width":0,"height":0,"passthru":false,"label":"PLC 읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":262.0520935058594,"y":439.7881841659546,"wires":[["9450b36c.fccf6"]]},{"id":"9450b36c.fccf6","type":"function","z":"cdd2a7b9.486328","name":"읽기 보냄","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg;","outputs":1,"noerr":0,"x":408.0000457763672,"y":440.67009592056274,"wires":[["c2b26a81.e98a58"]]},{"id":"ea8cd821.956e88","type":"string","z":"cdd2a7b9.486328","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":417.00000762939453,"y":300.67012882232666,"wires":[["1c857608.5aff3a"]]},{"id":"33b51a2e.cdbe86","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1ad827e9.1fe528","type":"ui_group","z":"","name":"PLC Testing","tab":"c0bc2496.f1e788","disp":true,"width":"8","collapse":false},{"id":"913d1771.0f3ee8","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c0bc2496.f1e788","type":"ui_tab","name":"Tab","icon":"dashboard","order":0}]