mongodb_PLC_control/flows (2).json
[{"id":"71f84396.5e30ec","type":"tab","label":"1.26.4.7","disabled":true,"info":"stop"},{"id":"6c3a7182.47c88","type":"mqtt in","z":"71f84396.5e30ec","name":"","topic":"/sungbeen/out","qos":"0","datatype":"auto","broker":"2786333b.e755fc","x":130,"y":120,"wires":[["9fd7fcf8.5d998"]]},{"id":"4f401ca5.b50074","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":8,"width":"2","height":"1","label":"p00","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p00","x":770,"y":540,"wires":[]},{"id":"7c997cc0.4966e4","type":"function","z":"71f84396.5e30ec","name":"2진수로정리","func":"var hex=msg.payload.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload=bin;\n\n//dec = msg.payload.charAt(12);\n//var bin1 = parseInt(dec).toString(2);\n//bin1=\"0000\"+bin1;\n//bin1 = bin1.slice(-4);\n\n//msg.payload=bin1+bin;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":140,"wires":[["81ed312e.77db"]]},{"id":"18e04c57.598b24","type":"function","z":"71f84396.5e30ec","name":"decoder","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nreturn [out[0],out[1],out[2],out[3],out[4],out[5]];","outputs":6,"noerr":0,"x":620,"y":640,"wires":[["4f401ca5.b50074"],["6c63ca10.c92db4"],["f5e9bf02.de1c7"],["22b3bf77.50597"],["2e336df3.a3d8d2"],["3758a20.e74815e"]]},{"id":"6c63ca10.c92db4","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":9,"width":"2","height":"1","label":"p01","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p01","x":770,"y":580,"wires":[]},{"id":"f5e9bf02.de1c7","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":10,"width":"2","height":"1","label":"p02","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p02","x":770,"y":620,"wires":[]},{"id":"22b3bf77.50597","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":11,"width":"2","height":"1","label":"p03","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p03","x":770,"y":660,"wires":[]},{"id":"2e336df3.a3d8d2","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":12,"width":"2","height":"1","label":"p04","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p04","x":770,"y":700,"wires":[]},{"id":"3758a20.e74815e","type":"ui_led","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":13,"width":"2","height":"1","label":"p05","colorForValue":[{"color":"gray","value":"0","valueType":"str"},{"color":"green","value":"1","valueType":"str"}],"allowColorForValueInMessage":false,"name":"p05","x":770,"y":740,"wires":[]},{"id":"81f8cb59.fa7b58","type":"ui_text","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":6,"width":0,"height":0,"name":"","label":"받음","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":120,"wires":[]},{"id":"4995f596.e8556c","type":"string","z":"71f84396.5e30ec","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":160,"wires":[["7c997cc0.4966e4"]]},{"id":"44a2511a.59759","type":"ui_switch","z":"71f84396.5e30ec","name":"","label":"P40","tooltip":"","group":"9a4988b6.c43638","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":260,"wires":[["be0fc234.71426"]]},{"id":"96e95738.270108","type":"ui_switch","z":"71f84396.5e30ec","name":"","label":"P41","tooltip":"","group":"9a4988b6.c43638","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":300,"wires":[["ec1038b4.ed6618"]]},{"id":"93987084.12a6e","type":"ui_switch","z":"71f84396.5e30ec","name":"","label":"P42","tooltip":"","group":"9a4988b6.c43638","order":2,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":340,"wires":[["aeea91fa.3b9a2"]]},{"id":"db268bbc.d43698","type":"ui_switch","z":"71f84396.5e30ec","name":"","label":"P43","tooltip":"","group":"9a4988b6.c43638","order":1,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":110,"y":380,"wires":[["faa807d4.a01078"]]},{"id":"116aeab4.9700d5","type":"comment","z":"71f84396.5e30ec","name":"node-red ui에서 plc제어 사이트 참조","info":"https://www.youtube.com/watch?v=-kPMVnDh1Oc&feature=youtu.be","x":200,"y":200,"wires":[]},{"id":"64c9895d.a65158","type":"comment","z":"71f84396.5e30ec","name":"MongoDB를 이용한 PLC 제어 6-3-1-2","info":"","x":190,"y":60,"wires":[]},{"id":"fe74d917.b08b88","type":"function","z":"71f84396.5e30ec","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload='\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004';\nreturn msg;//plc 16진수로 변경","outputs":1,"noerr":0,"x":580,"y":480,"wires":[["5265b40e.0a03ec","c9282803.f5b878"]]},{"id":"480801a6.22311","type":"mongodb2 in","z":"71f84396.5e30ec","service":"_ext_","configNode":"fb2723fb.a0783","name":"cho_plc","collection":"plc","operation":"","x":540,"y":260,"wires":[["ce5922af.550f9"]]},{"id":"ec1038b4.ed6618","type":"function","z":"71f84396.5e30ec","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.1':msg.payload}} ]; //out 배열의 1번 값을 입력\n\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["480801a6.22311"]]},{"id":"be0fc234.71426","type":"function","z":"71f84396.5e30ec","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';  //콜렉션에서 plc찾기\nnewMsg.operation  = 'findOneAndUpdate'; //업뎃하기 doc.mongodb.com 에있음\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.0':msg.payload}} ]; //a의 이름을 찾아서 out배열의 0을 넣는다\n\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 }; //없어도됨\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["480801a6.22311"]]},{"id":"aeea91fa.3b9a2","type":"function","z":"71f84396.5e30ec","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.2':msg.payload}} ];\n\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["480801a6.22311"]]},{"id":"faa807d4.a01078","type":"function","z":"71f84396.5e30ec","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'out.3':msg.payload}} ];\n\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["480801a6.22311"]]},{"id":"6c52ee70.b4519","type":"function","z":"71f84396.5e30ec","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload={'chip': 'a'}; //2 : a를찾아서 변환\n\n//1newMsg.payload    = { 'chip' : msg.payload.value.chip}; //이름 가져오기\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["4e09c1b2.98bd2"]]},{"id":"4e09c1b2.98bd2","type":"mongodb2 in","z":"71f84396.5e30ec","service":"_ext_","configNode":"fb2723fb.a0783","name":"cho_plc","collection":"plc","operation":"","x":420,"y":480,"wires":[["fe74d917.b08b88"]]},{"id":"251b880f.5c5258","type":"comment","z":"71f84396.5e30ec","name":"monogoDB 기초함수 사이트 참조","info":"https://youtu.be/JfJ8t_6Eq0k","x":510,"y":200,"wires":[]},{"id":"d6be977b.8317e8","type":"ui_button","z":"71f84396.5e30ec","name":"","group":"9a4988b6.c43638","order":7,"width":0,"height":0,"passthru":false,"label":"읽기","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":430,"y":540,"wires":[["4f764d7a.56e184"]]},{"id":"4f764d7a.56e184","type":"function","z":"71f84396.5e30ec","name":"read plc","func":"msg.payload='\\u0005'+'00RSS0104%PW0'+'\\u0004';\nreturn msg; //읽어오기","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["c9282803.f5b878"]]},{"id":"ce5922af.550f9","type":"link out","z":"71f84396.5e30ec","name":"","links":["9a928837.e0bbf8"],"x":635,"y":260,"wires":[]},{"id":"9a928837.e0bbf8","type":"link in","z":"71f84396.5e30ec","name":"","links":["ce5922af.550f9","da143082.dfcae"],"x":95,"y":480,"wires":[["6c52ee70.b4519"]]},{"id":"5265b40e.0a03ec","type":"ui_text","z":"71f84396.5e30ec","group":"9a4988b6.c43638","order":5,"width":0,"height":0,"name":"","label":"Transmitt","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":420,"wires":[]},{"id":"c9282803.f5b878","type":"mqtt out","z":"71f84396.5e30ec","name":"","topic":"/sungbeen/in","qos":"","retain":"","broker":"17be317a.59ea2f","x":790,"y":480,"wires":[]},{"id":"de39f68b.0a1428","type":"mongodb2 in","z":"71f84396.5e30ec","service":"_ext_","configNode":"45cbdc79.fdc694","name":"cho_plc","collection":"plc","operation":"","x":1100,"y":140,"wires":[["d664309d.a0c1e"]]},{"id":"81ed312e.77db","type":"function","z":"71f84396.5e30ec","name":"findOneUpdate","func":"var out=[];\nout.push({payload:msg.payload.charAt(5)});\nout.push({payload:msg.payload.charAt(4)});\nout.push({payload:msg.payload.charAt(3)});\nout.push({payload:msg.payload.charAt(2)});\nout.push({payload:msg.payload.charAt(1)});\nout.push({payload:msg.payload.charAt(0)});\nvar newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : 'a'}, {$set:{ 'in.0':parseInt(out[0].payload),'in.1':parseInt(out[1].payload),'in.2':parseInt(out[2].payload),\n    'in.3':parseInt(out[3].payload),'in.4':parseInt(out[4].payload),'in.5':parseInt(out[5].payload) }} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":920,"y":140,"wires":[["de39f68b.0a1428"]]},{"id":"5dea5605.1f9278","type":"function","z":"71f84396.5e30ec","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'plc';\nnewMsg.operation  = 'findOne';\nnewMsg.payload={'chip': 'a'}; //2 : a를찾아서 변환\n\n//newMsg.payload    = { 'chip' : msg.payload.value.chip};\n//newMsg.payload    = { 'chip' : msg.payload};\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":180,"y":640,"wires":[["b4fe56d2.3dc178"]]},{"id":"b4fe56d2.3dc178","type":"mongodb2 in","z":"71f84396.5e30ec","service":"_ext_","configNode":"fb2723fb.a0783","name":"cho_plc","collection":"plc","operation":"","x":340,"y":640,"wires":[["2ef64390.9579ac"]]},{"id":"2ef64390.9579ac","type":"function","z":"71f84396.5e30ec","name":"이진수","func":"msg.payload=msg.payload.in[5].toString()+msg.payload.in[4].toString()+msg.payload.in[3].toString()+msg.payload.in[2].toString()+msg.payload.in[1].toString()+msg.payload.in[0].toString();\nreturn msg; //디코딩","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["18e04c57.598b24"]]},{"id":"b629ac58.8dbe6","type":"link in","z":"71f84396.5e30ec","name":"","links":["d664309d.a0c1e"],"x":75,"y":640,"wires":[["5dea5605.1f9278"]]},{"id":"d664309d.a0c1e","type":"link out","z":"71f84396.5e30ec","name":"","links":["b629ac58.8dbe6"],"x":1195,"y":140,"wires":[]},{"id":"4d75f85b.233318","type":"inject","z":"71f84396.5e30ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":580,"wires":[["4f764d7a.56e184"]]},{"id":"9fd7fcf8.5d998","type":"function","z":"71f84396.5e30ec","name":"global","func":"global.set(\"a\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["305868cd.037b88"]]},{"id":"305868cd.037b88","type":"function","z":"71f84396.5e30ec","name":"findOne","func":"var email=global.get(\"email\")||\"\";\nvar newMsg = {};\nnewMsg.collection = 'member';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : email};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["81f8cb59.fa7b58","4995f596.e8556c"]]},{"id":"2786333b.e755fc","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a4988b6.c43638","type":"ui_group","z":"","name":"Test","tab":"d21ccbea.098668","order":1,"disp":true,"width":"8","collapse":false},{"id":"fb2723fb.a0783","type":"mongodb2","z":"","uri":"mongodb://18.189.6.107:27017/cho","name":"cho","options":"","parallelism":""},{"id":"17be317a.59ea2f","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"45cbdc79.fdc694","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/db","name":"db","options":"","parallelism":""},{"id":"d21ccbea.098668","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":7,"disabled":false,"hidden":false}]