iot_macaddres_http_mongodb_plc_control/flows (2).json
[{"id":"16d1d351.8effdd","type":"tab","label":"PLC등록 과제","disabled":false,"info":""},{"id":"2fca0e32.225fc2","type":"http in","z":"16d1d351.8effdd","name":"","url":"/main","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["cce085ec.29a788"]]},{"id":"cce085ec.29a788","type":"function","z":"16d1d351.8effdd","name":"find.toArray","func":"global.set(\"msg_main\",msg);\nvar email = msg.req.cookies.name;\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = { 'email' : email };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":120,"wires":[["6dafe51d.9c8edc"]]},{"id":"6dafe51d.9c8edc","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"a8ae5eda.9fc4a","name":"admin","collection":"","operation":"","x":435,"y":120,"wires":[["f30f4b95.503ce8"]]},{"id":"22890508.69e18a","type":"http response","z":"16d1d351.8effdd","name":"","statusCode":"","headers":{},"x":1510,"y":120,"wires":[]},{"id":"d89ddc36.768d3","type":"template","z":"16d1d351.8effdd","name":"Main html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style> {{{payload.style}}} </style>\n</head>\n<body>\n<h2>41415044 조성빈 PLC제어</h2>\n{{{payload.modal}}}\n{{{payload.list}}}\n{{{payload.plc}}}\n<script> {{{payload.script}}} </script>\n</body>\n</html>","output":"str","x":1380,"y":120,"wires":[["22890508.69e18a"]]},{"id":"f30f4b95.503ce8","type":"function","z":"16d1d351.8effdd","name":"msg 받음","func":"var msg1=msg.payload;\nvar msg=global.get(\"msg_main\")||\"\";\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":120,"wires":[["5cda6595.69fcfc"]]},{"id":"a3294d11.d4753","type":"function","z":"16d1d351.8effdd","name":"plc List","func":"msg.payload.style=global.get(\"style\");\nmsg.payload.script=global.get(\"script\");\nvar i;\nvar s;\nvar r;\nvar sOut=\"\";\nfor(i=0;i<msg.payload.length;i++) {\n    r=\"<input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n    if(msg.payload[i].type==4) {\n        //s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].name + \"<br>&emsp;출력&nbsp;\";\n        s=\"PLC : \"+msg.payload[i].chip+\"&emsp;\"+msg.payload[i].type + \"<br>&emsp;출력&nbsp;\";\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[0]==1) {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button' name='out' value='1' method='get'>40 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P40'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>40 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[1]==1) {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button2' name='out' value='1' method='get'>41 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P41'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>41 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[2]==1) {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button3' name='out' value='1' method='get'>42 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P42'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>42 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;\"\n        \n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        if(msg.payload[i].out[3]==1) {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button button4' name='out' value='1' method='get'>43 ON</button>\"; \n        }\n        else {\n            s+=\"<input type='hidden' name='name' value='P43'>\";\n            s+=\"<button type='submit' formaction='/plc_act' class='button buttonOff' name='out' value='0' method='get'>43 OFF</button>\"; \n        }\n        s+=\"</form>&nbsp;<br>\"\n        //s+=\"</form>\";\n\n        // PLC 입력표시\n        s+=\"&emsp;입력&nbsp;\";\n        s+=\"<form style='display:inline'><input type='hidden' name='chip' value='\"+msg.payload[i].chip+\"'>\";\n        s+=\"<button type='submit' formaction='/plc_act' class='button button20' name='name' value='in' method='get'>새로고침</button></form><br>\"; \n        s+=\"&emsp;&emsp;\";\n        if(msg.payload[i].in[0]==1) \n            s+=\"<button  class='button buttonLedon'>00 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>00 </button> &nbsp;\";\n        if(msg.payload[i].in[1]==1) \n            s+=\"<button class='button buttonLedon'>01 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>01 </button> &nbsp;\"; \n        if(msg.payload[i].in[2]==1) \n            s+=\"<button  class='button buttonLedon'>02 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>02 </button> &nbsp;\"; \n        if(msg.payload[i].in[3]==1) \n            s+=\"<button  class='button buttonLedon'>03 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>03 </button> &nbsp;\"; \n            \n        if(msg.payload[i].in[4]==1) \n            s+=\"<button  class='button buttonLedon'>04 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>04 </button> &nbsp;\"; \n            \n        if(msg.payload[i].in[5]==1) \n            s+=\"<button  class='button buttonLedon'>05 </button> &nbsp;\"; \n        else \n            s+=\"<button  class='button buttonLedoff'>05 </button> &nbsp;\"; \n \n    }\n    sOut=sOut+s+\"<br>\";\n}    \nmsg.payload.plc=sOut;\nreturn msg;","outputs":1,"noerr":0,"x":1238,"y":120,"wires":[["d89ddc36.768d3"]]},{"id":"8599d0ad.9a209","type":"template","z":"16d1d351.8effdd","name":"style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #4CAF50; /*Green*/\n  color: white;\n  padding: 14px 32px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\n.button2 {background-color: #008CBA;} /* Blue */\n.button3 {background-color: #f44336;} /* Red */ \n.button4 {background-color: #e7e7e7; color: black;} /* Gray */ \n.buttonOff {background-color:black; color:white;  padding: 14px 32px;} \n.buttonLedon {background-color:Red; color:blue; width:10%;} \n.buttonLedoff {background-color:black; color:white; width:10%;} \n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}","x":830,"y":120,"wires":[["41e778f0.2ccf38"]]},{"id":"5cda6595.69fcfc","type":"template","z":"16d1d351.8effdd","name":"script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}","output":"str","x":702,"y":120,"wires":[["8599d0ad.9a209"]]},{"id":"41e778f0.2ccf38","type":"function","z":"16d1d351.8effdd","name":"global style","func":"global.set(\"style\",msg.payload.style);\nglobal.set(\"script\",msg.payload.script);\nreturn msg;","outputs":1,"noerr":0,"x":974,"y":120,"wires":[["49844501.34ac4c"]]},{"id":"3ee1a227.2ef74e","type":"http in","z":"16d1d351.8effdd","name":"","url":"/machine_register","method":"get","upload":false,"swaggerDoc":"","x":320,"y":180,"wires":[["b7cc43a5.a2c43"]]},{"id":"5b809b19.6fa184","type":"comment","z":"16d1d351.8effdd","name":"기기등록","info":"","x":141,"y":180,"wires":[]},{"id":"b7cc43a5.a2c43","type":"function","z":"16d1d351.8effdd","name":"delete","func":"global.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection  = 'localRecord';\nnewMsg.operation  = 'deleteMany';\nnewMsg.payload    = { \"email\":msg.req.cookies.name, \"chip\":msg.payload.chip };\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":511,"y":180,"wires":[["debb5266.113e5"]]},{"id":"debb5266.113e5","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"a8ae5eda.9fc4a","name":"cho","collection":"","operation":"","x":641,"y":180,"wires":[["f6fe8cd.222b17"]]},{"id":"f6fe8cd.222b17","type":"function","z":"16d1d351.8effdd","name":"insert or delete","func":"var msg=global.get(\"msg_machine_register\")||\"\";\nvar email = msg.req.cookies.name;\nvar type = parseInt(msg.payload.type);\nvar newMsg = {};\nif(msg.payload.regi==1) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    if(msg.payload.type==0)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"v\":[0,0,0], \"i\":[0,0,0]};\n    else if(msg.payload.type==1)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"on\":0};\n    else if(msg.payload.type==2)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"delay\":0};\n    else if(msg.payload.type==3)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type};\n    else if(msg.payload.type==4)\n        newMsg.payload    = { \"email\":email, \"chip\":msg.payload.chip, \"name\":msg.payload.name, \"type\":type, \"in\":[0,0,0,0,0,0], \"out\":[0,0,0,0]};\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return [newMsg,null];\n}\nelse\n    return [null,msg];\n","outputs":2,"noerr":0,"x":801,"y":180,"wires":[["d907ce11.cd30d"],["84ed10.f32f62f"]]},{"id":"d907ce11.cd30d","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"a8ae5eda.9fc4a","name":"db","collection":"","operation":"","x":959,"y":170,"wires":[["84ed10.f32f62f"]]},{"id":"ce249230.cb9b4","type":"template","z":"16d1d351.8effdd","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://18.189.6.107:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html>","output":"str","x":1233,"y":170,"wires":[["4959e6bd.ac0888"]]},{"id":"4959e6bd.ac0888","type":"http response","z":"16d1d351.8effdd","name":"Go Main Page","statusCode":"","headers":{},"x":1388,"y":170,"wires":[]},{"id":"84ed10.f32f62f","type":"function","z":"16d1d351.8effdd","name":"msg 받음","func":"msg=global.get(\"msg_machine_register\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1099,"y":170,"wires":[["ce249230.cb9b4"]]},{"id":"9af0e81.da94a18","type":"http in","z":"16d1d351.8effdd","name":"","url":"/plc_act","method":"get","upload":false,"swaggerDoc":"","x":290,"y":260,"wires":[["85963b19.f621c8"]]},{"id":"85963b19.f621c8","type":"function","z":"16d1d351.8effdd","name":"findOneAndUpdate","func":"global.set(\"msg_plc_act\",msg);\nif(msg.payload.name=='in')\n    return [null,msg];\nelse {\n    if(msg.payload.out==1)\n        msg.payload.out=0;\n    else\n        msg.payload.out=1;\n    var newMsg = {};\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    if(msg.payload.name=='P40')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.0':msg.payload.out}} ];\n    else if(msg.payload.name=='P41')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.1':msg.payload.out}} ];\n    else if(msg.payload.name=='P42')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.2':msg.payload.out}} ];\n    else if(msg.payload.name=='P43')\n        newMsg.payload    = [{ 'email':msg.req.cookies.name,'chip' : msg.payload.chip}, {$set:{ 'out.3':msg.payload.out}} ];\n    newMsg.projection = { 'email' : 1 , '_id' : 0 };\n    return [newMsg,null];\n}","outputs":2,"noerr":0,"x":470,"y":260,"wires":[["89abe00b.9b7b7"],["ae55e4f9.9dca78"]]},{"id":"89abe00b.9b7b7","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"a8ae5eda.9fc4a","name":"admin","collection":"","operation":"","x":639,"y":254,"wires":[["2cd099f7.ff4ef6","e014636c.bd26d"]]},{"id":"97f5a537.f8fa88","type":"template","z":"16d1d351.8effdd","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='0; url=http://18.189.6.107:1880/main' method='get'> \n    </head>\n    <body>\n       </body>\n</html>","output":"str","x":909,"y":254,"wires":[["40b358be.9971b8"]]},{"id":"40b358be.9971b8","type":"http response","z":"16d1d351.8effdd","name":"Go Main Page","statusCode":"","headers":{},"x":1064,"y":254,"wires":[]},{"id":"2cd099f7.ff4ef6","type":"function","z":"16d1d351.8effdd","name":"msg 받음","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nreturn msg;","outputs":1,"noerr":0,"x":769,"y":254,"wires":[["97f5a537.f8fa88"]]},{"id":"eee22505.14c2b8","type":"function","z":"16d1d351.8effdd","name":"encorder","func":"var num=msg.payload.out[0]+msg.payload.out[1]*2+msg.payload.out[2]*4+msg.payload.out[3]*8;\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00WSS0104%PW4000\"+num.toString(16)+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":1048,"y":302,"wires":[["b8b8f0f5.5ba15"]]},{"id":"b8b8f0f5.5ba15","type":"mqtt out","z":"16d1d351.8effdd","name":"","topic":"/sungbeen/in","qos":"","retain":"","broker":"135f78d6.da19b7","x":1198,"y":302,"wires":[]},{"id":"e014636c.bd26d","type":"function","z":"16d1d351.8effdd","name":"findOne","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'email' : msg.payload.value.email, 'chip':msg.payload.value.chip};\nnewMsg.projection = { 'email' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":768,"y":302,"wires":[["32e7fed5.639a42"]]},{"id":"32e7fed5.639a42","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"32a61d55.fee532","name":"PLC 검색","collection":"","operation":"","x":908,"y":302,"wires":[["eee22505.14c2b8"]]},{"id":"ae55e4f9.9dca78","type":"function","z":"16d1d351.8effdd","name":"read PLC","func":"var msg=global.get(\"msg_plc_act\")||\"\";\nmsg.payload=\"{chip:'\"+msg.payload.chip+\"', prt:'\"+'\\u0005'+\"00RSS0104%PW0\"+'\\u0004'+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":350,"wires":[["b8b8f0f5.5ba15","97d12cc8.6d009"]]},{"id":"9b8a6e0e.d4ea3","type":"mqtt in","z":"16d1d351.8effdd","name":"","topic":"/sungbeen/out","qos":"0","datatype":"auto","broker":"135f78d6.da19b7","x":290,"y":400,"wires":[["3a613820.42ef08"]]},{"id":"3a613820.42ef08","type":"string","z":"16d1d351.8effdd","name":"","methods":[],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":430,"y":400,"wires":[["7b5d94c1.23059c"]]},{"id":"2feb091c.d034d6","type":"function","z":"16d1d351.8effdd","name":"2진수로정리","func":"var hex=msg.payload.prt.substring(12,14);\nvar dec16=parseInt(hex, 16);\nvar dec=dec16.toString(10);\nvar bin = parseInt(dec).toString(2);\nbin=\"000000\"+bin;\nbin = bin.slice(-6);\nmsg.payload.prt=bin;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["57d94685.35bcb8"]]},{"id":"3a748e60.c2f692","type":"mongodb2 in","z":"16d1d351.8effdd","service":"_ext_","configNode":"a8ae5eda.9fc4a","name":"dbTest Data","collection":"","operation":"","x":1302.1145935058594,"y":399.8923673629761,"wires":[[]]},{"id":"57d94685.35bcb8","type":"function","z":"16d1d351.8effdd","name":"findOneUpdate","func":"var out=[];\nout.push({payload:msg.payload.prt.charAt(5)});\nout.push({payload:msg.payload.prt.charAt(4)});\nout.push({payload:msg.payload.prt.charAt(3)});\nout.push({payload:msg.payload.prt.charAt(2)});\nout.push({payload:msg.payload.prt.charAt(1)});\nout.push({payload:msg.payload.prt.charAt(0)});\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : msg.payload.chip}, {$set:{ 'in.0':parseInt(out[0].payload),'in.1':parseInt(out[1].payload),'in.2':parseInt(out[2].payload),\n    'in.3':parseInt(out[3].payload),'in.4':parseInt(out[4].payload),'in.5':parseInt(out[5].payload) }} ];\nnewMsg.projection = { 'chip' : 1 , '_id' : 0 };\nreturn newMsg;","outputs":1,"noerr":0,"x":1132.1145935058594,"y":399.8923673629761,"wires":[["3a748e60.c2f692"]]},{"id":"4ccbee43.7f54c","type":"json","z":"16d1d351.8effdd","name":"","property":"payload","action":"","pretty":false,"x":807,"y":400,"wires":[["2feb091c.d034d6"]]},{"id":"7b5d94c1.23059c","type":"function","z":"16d1d351.8effdd","name":"아스키31 이하 공란으로","func":"var msg = {payload:msg.payload.replace(/[^\\x0F-\\x7F]/g, \" \")};\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":399,"wires":[["4ccbee43.7f54c"]]},{"id":"97d12cc8.6d009","type":"template","z":"16d1d351.8effdd","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>\n        <meta http-equiv='refresh' content='3; url=http://18.189.6.107:1880/main' method='get'> \n    </head>\n    <body>\n        PLC 응답이 올때까지 3초 기다리겠습니다. 응답이 없을 수도 있습니다.\n    </body>\n</html>","output":"str","x":918,"y":350,"wires":[["2e86c216.ed4d6e"]]},{"id":"2e86c216.ed4d6e","type":"http response","z":"16d1d351.8effdd","name":"Go Main Page","statusCode":"","headers":{},"x":1073,"y":350,"wires":[]},{"id":"1462775b.5727c9","type":"comment","z":"16d1d351.8effdd","name":"PLC Act","info":"","x":140,"y":260,"wires":[]},{"id":"aa41c721.a09c68","type":"comment","z":"16d1d351.8effdd","name":"PLC Read","info":"","x":140,"y":402,"wires":[]},{"id":"1ea66f43.36a981","type":"comment","z":"16d1d351.8effdd","name":"바꾼것","info":"1. 회원가입 없앰","x":150,"y":60,"wires":[]},{"id":"49844501.34ac4c","type":"template","z":"16d1d351.8effdd","name":"modal","field":"payload.modal","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<button onclick=\"document.getElementById('id02').style.display='block'\" style=\"width:auto;\">기기등록/삭제</button>\n \n\n\n<div id=\"id01\" class=\"modal\">\n  <form class=\"modal-content animate\" action=\"/pw_change_act\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"http://c.doowon.ac.kr/image/i2r_big.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n    \n    <div class=\"container\">\n      <label for=\"pw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"pw\" required>\n      <button type=\"submit\">비밀번호 변경</button>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n    </div>\n  </form>\n</div>\n\n<div id=\"id02\" class=\"modal\">\n  <form class=\"modal-content animate\" action=\"/machine_register\" method=\"get\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id02').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n    </div>\n\n   <div class=\"container\">\n        맥어드레스는 기기에 표시되어 있습니다. <br>\n        <input type=\"text\" placeholder=\"Enter mac address\" name=\"chip\" required>\n        <input type=\"text\" placeholder=\"Enter name\" name=\"name\" required>\n        기기 종류를 선택하세요.\n        <select class=\"container\" name='type'>\n          <option value=\"0\">삼상전압전류측정(참빛파워텍)</option>\n          <option value=\"1\">파워스위치(참빛파워텍)</option>\n          <option value=\"2\">인체감지 스위치(참빛파워텍)</option>\n          <option value=\"3\">단상전류전압(참빛파워텍)</option>\n          <option value=\"4\">LS산전PLC MASTER-K 120S</option>\n        </select><br>\n      <button name='regi' value='1' style=\"width:auto;\" class=\"button\">등록</button> &emsp; \n      <button name='regi' value='2' style=\"width:auto;\" class=\"button\">삭제</button> &emsp;\n      <button type=\"button\" onclick=\"document.getElementById('id02').style.display='none'\" class=\"cancelbtn\" >Cancel</button>\n    </div>\n  </form>\n</div>\n\n\n","output":"str","x":1110,"y":120,"wires":[["a3294d11.d4753"]]},{"id":"a8ae5eda.9fc4a","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/cho","name":"cho","options":"","parallelism":""},{"id":"135f78d6.da19b7","type":"mqtt-broker","z":"","name":"","broker":"adh167sfy9bbp-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"6a6b9570.b7da0c","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32a61d55.fee532","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/cho","name":"cho","options":"","parallelism":"-1"},{"id":"6a6b9570.b7da0c","type":"tls-config","z":"","name":"3Phase","cert":"","key":"","ca":"","certname":"8d6fea443c-certificate.pem.crt","keyname":"8d6fea443c-private.pem.key","caname":"worldmapCA.pem","servername":"","verifyservercert":true}]